Oriel Savir

Resources for completing this homework:  
https://en.wikipedia.org/wiki/List_of_S%26P_400_companies  
https://pandas.pydata.org/pandas-docs/stable/user_guide/10min.html  
https://pandas.pydata.org/docs/reference/api/pandas.read_html.html  
https://pandas.pydata.org/pandas-docs/stable/io.html#io-read-html  
https://pypi.org/project/yfinance  
https://docs.python.org/3/library/datetime.html#datetime-objects

INSTRUCTIONS:    
In the cells below, replace the comments with your code.  If you need to add new cells, do at the bottom of the workbook rather than in the middle, because I will be automatically loading everyone's answers, and I'll need everyone's code in the same cells.

In [1]:
# In this cell, import the pandas library and alias to "pd".
# The pandas library manipulates tables and time series,
# and was written specifically with financial applications in mind.
import pandas as pd

In [2]:
# Consider the url link given above to a page that contains the components of the S&P MidCap 400 index.
# In this cell, use pandas read_html() function to read html tables into a list of pandas DataFrames.
# A "DataFrame" is the basic data structure in pandas.  It is a table which allows SQL-like queries.
# Depending on the particualar html table, you may or may not need to include the parameter header=0.
# Assign the output to a variable called list_of_DataFrames.

url = "https://en.wikipedia.org/wiki/List_of_S%26P_400_companies"
list_of_DataFrames = pd.read_html(url, header=0)

In [3]:
# Execute this cell.
print(len(list_of_DataFrames))  # How many tables are there? Answer: 3 tables
df = list_of_DataFrames[0]      # We care about the first table.
print(type(df))                 # What type is df? Answer: pandas.core.frame.DataFrame type
print(len(df))                  # How many rows in df? Answer: 401 rows (since the first row is the header)

3
<class 'pandas.core.frame.DataFrame'>
401

In [4]:
# In this cell, execute code to display the first three rows of the table.
df.head(3)

,Symbol,Security,GICS Sector,GICS Sub-Industry,Headquarters Location,SEC filings
0,AA,Alcoa,Materials,Aluminum,"Pittsburgh, Pennsylvania",reports
1,AAL,American Airlines Group,Industrials,Passenger Airlines,"Fort Worth, Texas",reports
2,AAON,AAON,Industrials,Building Products,"Tulsa, Oklahoma",reports

In [5]:
# In this cell, execute code to display the last three rows of the table.
df.tail(3)

,Symbol,Security,GICS Sector,GICS Sub-Industry,Headquarters Location,SEC filings
398,YETI,Yeti Holdings,Consumer Discretionary,Leisure Products,"Austin, Texas",reports
399,ZI,ZoomInfo,Communication Services,Interactive Media & Services,"Vancouver, Washington",reports
400,ZION,Zions Bancorporation,Financials,Regional Banks,"Salt Lake City, Utah",reports

In [6]:
# In this cell, select the symbol column and convert it to a list called tickerList.
tickerList = df['Symbol'].tolist()

In [7]:
# Execute this cell.
print(tickerList)

['AA', 'AAL', 'AAON', 'ACHC', 'ACM', 'ADC', 'AFG', 'AGCO', 'AIT', 'ALE', 'ALGM', 'ALLY', 'ALTM', 'ALTR', 'ALV', 'AM', 'AMED', 'AMG', 'AMH', 'AMKR', 'AN', 'ANF', 'APPF', 'AR', 'ARMK', 'ARW', 'ASB', 'ASGN', 'ASH', 'ATR', 'AVNT', 'AVT', 'AVTR', 'AXTA', 'AYI', 'AZPN', 'BC', 'BCO', 'BDC', 'BERY', 'BHF', 'BILL', 'BIO', 'BJ', 'BKH', 'BLD', 'BLKB', 'BMRN', 'BRBR', 'BRKR', 'BRX', 'BURL', 'BWXT', 'BYD', 'CACI', 'CADE', 'CAR', 'CART', 'CASY', 'CBSH', 'CBT', 'CC', 'CCK', 'CDP', 'CELH', 'CFR', 'CG', 'CGNX', 'CHDN', 'CHE', 'CHH', 'CHRD', 'CHWY', 'CHX', 'CIEN', 'CIVI', 'CLF', 'CLH', 'CMA', 'CMC', 'CNH', 'CNM', 'CNO', 'CNX', 'CNXC', 'COHR', 'COKE', 'COLB', 'COLM', 'COTY', 'CPRI', 'CR', 'CROX', 'CRS', 'CRUS', 'CSL', 'CUBE', 'CUZ', 'CVLT', 'CW', 'CXT', 'CYTK', 'DAR', 'DBX', 'DCI', 'DINO', 'DKS', 'DLB', 'DOCS', 'DOCU', 'DT', 'DTM', 'DUOL', 'EEFT', 'EGP', 'EHC', 'ELF', 'ELS', 'EME', 'ENS', 'ENSG', 'EPR', 'EQH', 'ESAB', 'ESNT', 'EVR', 'EWBC', 'EXE', 'EXEL', 'EXLS', 'EXP', 'EXPO', 'FAF', 'FBIN', 'FCFS', 'FCN', 'FFIN', 'FHI', 'FHN', 'FIVE', 'FIX', 'FLEX', 'FLG', 'FLO', 'FLR', 'FLS', 'FN', 'FNB', 'FND', 'FNF', 'FOUR', 'FR', 'FYBR', 'G', 'GAP', 'GATX', 'GBCI', 'GEF', 'GGG', 'GHC', 'GLPI', 'GME', 'GMED', 'GNTX', 'GPK', 'GT', 'GTLS', 'GWRE', 'GXO', 'H', 'HAE', 'HALO', 'HGV', 'HLI', 'HLNE', 'HOG', 'HOMB', 'HQY', 'HR', 'HRB', 'HWC', 'HXL', 'IBKR', 'IBOC', 'IDA', 'ILMN', 'INGR', 'IPGP', 'IRDM', 'IRT', 'ITT', 'JAZZ', 'JEF', 'JHG', 'JLL', 'JWN', 'KBH', 'KBR', 'KD', 'KEX', 'KMPR', 'KNF', 'KNSL', 'KNX', 'KRC', 'KRG', 'LAD', 'LAMR', 'LANC', 'LEA', 'LECO', 'LFUS', 'LITE', 'LIVN', 'LNTH', 'LNW', 'LOPE', 'LPX', 'LSCC', 'LSTR', 'M', 'MAN', 'MANH', 'MASI', 'MAT', 'MEDP', 'MIDD', 'MKSI', 'MLI', 'MMS', 'MORN', 'MSA', 'MSM', 'MTDR', 'MTG', 'MTN', 'MTSI', 'MTZ', 'MUR', 'MUSA', 'NBIX', 'NEOG', 'NEU', 'NFG', 'NJR', 'NLY', 'NNN', 'NOV', 'NOVT', 'NSA', 'NSP', 'NVST', 'NVT', 'NWE', 'NXST', 'NXT', 'NYT', 'OC', 'OGE', 'OGS', 'OHI', 'OLED', 'OLLI', 'OLN', 'ONB', 'ONTO', 'OPCH', 'ORA', 'ORI', 'OSK', 'OVV', 'OZK', 'PAG', 'PB', 'PBF', 'PCH', 'PCTY', 'PEN', 'PFGC', 'PII', 'PK', 'PLNT', 'PNFP', 'POR', 'POST', 'POWI', 'PPC', 'PR', 'PRGO', 'PRI', 'PSN', 'PSTG', 'PVH', 'QLYS', 'R', 'RBA', 'RBC', 'REXR', 'RGA', 'RGEN', 'RGLD', 'RH', 'RLI', 'RMBS', 'RNR', 'ROIV', 'RPM', 'RRC', 'RRX', 'RS', 'RYAN', 'RYN', 'SAIA', 'SAIC', 'SAM', 'SBRA', 'SCI', 'SEIC', 'SF', 'SFM', 'SHC', 'SIGI', 'SKX', 'SLAB', 'SLGN', 'SLM', 'SMG', 'SNV', 'SNX', 'SON', 'SR', 'SRPT', 'SSB', 'SSD', 'ST', 'STAG', 'STWD', 'SWX', 'SYNA', 'TCBI', 'TDC', 'TEX', 'THC', 'THG', 'THO', 'TKO', 'TKR', 'TMHC', 'TNL', 'TOL', 'TPX', 'TREX', 'TTC', 'TTEK', 'TXNM', 'TXRH', 'UA', 'UAA', 'UBSI', 'UFPI', 'UGI', 'UMBF', 'UNM', 'USFD', 'UTHR', 'VAC', 'VAL', 'VC', 'VLY', 'VMI', 'VNO', 'VNOM', 'VNT', 'VOYA', 'VVV', 'WAL', 'WBS', 'WCC', 'WEN', 'WEX', 'WFRD', 'WH', 'WHR', 'WING', 'WLK', 'WMG', 'WMS', 'WPC', 'WSM', 'WSO', 'WTFC', 'WTRG', 'WTS', 'WU', 'WWD', 'X', 'XPO', 'XRAY', 'YETI', 'ZI', 'ZION']

In [8]:
# In this cell, select the GICS sector column and convert it to a set called sectorSet.
sectorSet = set(df['GICS Sector'])

In [9]:
# Execute this cell.  Do you understand the difference between sets and lists?
print(len(sectorSet))
print(sectorSet)

#Answer: I do understand the difference. A set allows for O(1) lookup and insertion time, and also does not have repeated elements. A list does not have these properties and can have repeats.

11
{'Industrials', 'Real Estate', 'Utilities', 'Consumer Discretionary', 'Energy', 'Health Care', 'Materials', 'Communication Services', 'Consumer Staples', 'Financials', 'Information Technology'}

In [10]:
# Execute this cell.
print(type(df.values))  # The values of the DataFrame are actually held in a numpy array.
df.values.shape         # We have a 401 row x 6 column array.

<class 'numpy.ndarray'>

(401, 6)

In [11]:
# What is the difference between Consumer Staples and Consumer Discretionary?
# First execute this code that extracts the first 3 of the S&P 400 companies in the Consumer Staples sector.
df[df['GICS Sector']=='Consumer Staples'].head(3)
# Do you understand how this code works?  What does df['GICS sector']=='Consumer Staples' do? Answer: It selects the rows where the GICS sector is 'Consumer Staples' alongside the table headers.

,Symbol,Security,GICS Sector,GICS Sub-Industry,Headquarters Location,SEC filings
43,BJ,BJ's Wholesale Club,Consumer Staples,Hypermarkets & Super Centers,"Marlborough, Massachusetts",reports
48,BRBR,BellRing Brands,Consumer Staples,Packaged Foods & Meats,NaN,reports
57,CART,Maplebear Inc.,Consumer Staples,Food Retail,"San Francisco, California",reports

In [12]:
# In this cell, repeat the above code for the Consumer Discretionary sector.
df[df['GICS Sector']=='Consumer Discretionary'].head(3)

,Symbol,Security,GICS Sector,GICS Sub-Industry,Headquarters Location,SEC filings
14,ALV,Autoliv,Consumer Discretionary,Automotive Parts & Equipment,"Stockholm, Sweden",reports
20,AN,AutoNation,Consumer Discretionary,Automotive Retail,"Fort Lauderdale, Florida",reports
21,ANF,Abercrombie & Fitch,Consumer Discretionary,Apparel Retail,"New Albany, Ohio",reports

Please install the `yfinance` package, using conda (or pip).
(Best practice is to create a conda environment for this rather than installing to base.)
`conda install -c conda-forge yfinance`  

The `yfinance` library allows us to access data from Yahoo! Finance's API.

In [13]:
# In this cell, import the yfinance library.
import yfinance

In [14]:
# Execute this cell.
from datetime import datetime

In [15]:
# Use the datetime function to assign the date Feb 6, 2024 to a datetime object called "startDate".
startDate = datetime(2024, 2, 6)

In [16]:
# Use the datetime function to assign the date Feb 9, 2024 to a datetime object called "endDate".
endDate = datetime(2024,2,9)

In [17]:
# Pick your 3 favorite US companies and look up their symbols.
# Put these 3 symbols in a list called "mySymbols".
mySymbols = ['AAPL', 'MSFT', 'AMZN']

In [18]:
# Execute this cell.
yahooDataFrame = yfinance.download(mySymbols, startDate, endDate)

YF.download() has changed argument auto_adjust default to True

[*********************100%***********************]  3 of 3 completed

In [19]:
# Execute this cell.
print(type(yahooDataFrame))
print(yahooDataFrame.shape)
yahooDataFrame

<class 'pandas.core.frame.DataFrame'>
(3, 15)

Price            Close                                High              \
Ticker            AAPL        AMZN        MSFT        AAPL        AMZN
Date
2024-02-06  188.170258  169.149994  402.480286  188.180192  170.710007
2024-02-07  188.279602  170.529999  410.976746  189.909814  170.880005
2024-02-08  187.196106  169.839996  411.036316  188.408811  171.429993

Price                          Low                                Open  \
Ticker            MSFT        AAPL        AMZN        MSFT        AAPL
Date
2024-02-06  404.941889  185.655358  167.649994  399.919449  185.744817
2024-02-07  411.224890  187.484373  168.940002  404.376111  189.502257
2024-02-08  412.475566  186.231894  168.880005  409.468057  188.259712

Price                                 Volume
Ticker            AMZN        MSFT      AAPL      AMZN      MSFT
Date
2024-02-06  169.389999  402.867405  43490800  42505500  18382600
2024-02-07  169.479996  404.415822  53439000  47174100  22340500
2024-02-08  169.649994  410.976764  40962000  42316500  21225300

In [20]:
# Select the columns of close prices and assign it to "priceTable".
priceTable = yahooDataFrame['Close']

In [21]:
# Execute this cell.
print(type(priceTable))
print(priceTable.shape)
priceTable

<class 'pandas.core.frame.DataFrame'>
(3, 3)

Ticker            AAPL        AMZN        MSFT
Date
2024-02-06  188.170258  169.149994  402.480286
2024-02-07  188.279602  170.529999  410.976746
2024-02-08  187.196106  169.839996  411.036316